<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/styles.css" />
    <title>Home</title>
  </head>
  <body>
    <form action="/suggesstions" method="post">
      <input type="text" name="name" placeholder="Your name" />
      <input type="text" name="age" placeholder="Your age" />
      <input type="radio" name="gender" value="1" placeholder="male" />
      <label>smale</label>
      <input type="radio" name="gender" value="0" placeholder="Female" />
      <label>female</label>
      <button type="submit">Submit</button>
    </form>
  </body>
</html>
